<!DOCTYPE html>
<html>
<head>
	<title>Produtos</title>
</head>
<body>

<form ng-submit="adicionaFornecedor();">

	<legend>Novo Fornecedor</legend>
	<div class="form-group">

		<label>Fornecedor</label>
		<input type="text" class="form-control" ng-model="form.nome">

		<label>Telefone</label>
		<input type="text" class="form-control" ng-model="form.fone">

		<label>Email</label>
		<input type="text" class="form-control" ng-model="form.email">

		<label>CPF</label>
		<input type="text" class="form-control" ng-model="form.cpf">
	</div>

	<button type="submit" class="btn btn-primary">Cadastro</button>

</form>

</body>
</html>