<!DOCTYPE html>
<html>
<head>
	<title>Compras</title>
</head>
<body>

<form ng-submit="adicionaCompra();">

	<legend>Nova Compra</legend>
	<div class="form-group">

		<label>Produto</label>
		<select  class="form-control" ng-model="form.produtoId">
			<option ng-repeat="p in produtos" value="{{p.id}}">{{p.nome}}</option>
		</select>

		<label>Quantidade</label>
		<input type="text" class="form-control" ng-model="form.quantidade">

		<label>Valor</label>
		<input type="text" class="form-control" ng-model="form.valueProduct">

		<label>Fornecedor</label>
		<select  class="form-control" ng-model="form.fornecedorId">
			<option ng-repeat="f in fornecedores" value="{{f.id}}">{{f.nome}}</option>
		</select>
	</div>

	<button type="submit" class="btn btn-primary">Cadastro</button>

</form>

</body>
</html>