<!DOCTYPE html>
<html>
<head>
	<title>Produtos</title>
</head>
<body>

<form ng-submit="adicionaProduto(form);">

	<legend>Novo Produto</legend>
	<p class="alert alert-danger" ng-show="alerta">Produto existente!
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
	</p>
	<div class="form-group">
		<label>Produto</label>
		<input type="text" class="form-control" ng-model="form.nome">
	</div>
	<button type="submit" class="btn btn-primary">Cadastro</button>

</form>

</body>
</html>