<!DOCTYPE html>
<html>
<head>
	<title>Produtos</title>
</head>
<body>

<form>

	<legend>Edita Produto</legend>
	<p class="alert alert-danger" ng-show="alerta">Produto existente!
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
	</p>
	<div class="form-group">
		<label>Produto</label>
		<input type="text" class="form-control" ng-model="produto.nome">
	</div>

	<button type="submit" ng-click="editaProduto(produto)" class="btn btn-primary">Cadastro</button>

</form>

</body>
</html>